/* Prep for page fade-in */
.edge {
  opacity: 0; 
}

/* Hide unwanted Grafana stuff */
footer,
.edge sidemenu,
.edge dashboard-search,
.edge .sidemenu__logo,
.edge .sidemenu__logo_small_breakpoint,
.edge .navbar-buttons--actions,
.edge .navbar-page-btn .fa-caret-down,
.edge .panel-info-corner,
.edge .panel .react-resizable-handle,
.edge .panel-menu-container .dropdown-menu--menu li:nth-child(n+2),
.edge .dashboard-row__actions,
.edge .alert-warning, .edge .alert-error /* Hide grafana error and warning alerts */
{
  display: none !important; 
}
.edge .panel-hover-highlight {
  box-shadow: none;
}
.edge .panel-header:hover {
  background:inherit;
}

/* No longer clickable */
.edge .navbar-page-btn,
.edge .panel-title-text{
  color: inherit;
  cursor: default;
}

/* Make the page name a visual button */
.edge .navbar-page-btn {
  font-size: 20px;
  display: inline;
  margin-left: 2px;
  padding: 5px 10px;
  border-radius: 3px;
}
.edge.theme-dark .navbar-page-btn {
  background-color: #2a2a2c;
  border: 1px solid #333;
}
.edge.theme-light .navbar-page-btn {
  background-color: #e3e8ee;
  border: 1px solid #ccc;
}
.edge.user-activity-low .navbar-page-btn i {
  opacity: 1;
}

/* Kiosk/TV mode */
.edge.view-mode--kiosk .navbar {
  height: 0;
}
.edge.view-mode--tv .navbar-page-btn i {
  display: none;
}

/* Remove header buttons for alert page */
.edge .page-header .btn[href="alerting/notifications"],
.edge .page-header .btn[ng-click="ctrl.openHowTo()"]
{
  display:none;
}

/* Add site name */
.hub-name {
  display:none;
}
.edge .hub-name {
  display:block;
  font-size: 20px;
  padding: 12px 10px 0 10px;
  text-align: center;
  white-space: nowrap;
}

/* Dashboard Body */
.edge .dashboard-container {
  padding-top: 5px;
}
.edge .dashboard-container .grafana-row {
  padding-top: 20px;
}
.edge .panel-header {
}
.edge .panel-title {
  cursor: default;
}
.edge.theme-light .navbar {
  border-bottom: 1px solid #ddd;
}
.edge.theme-dark .navbar {
  background-color: #222;
  border-bottom: 1px solid #333;
}
.edge .dashboard-row__title {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

/* Older style tabbed view header (with faded orange bottom border) */
.edge .tabbed-view-header {
  box-shadow: none;
  background: none;
  -o-border-image: linear-gradient(90deg,rgba(255,213,0,.7) 0,rgba(255,68,0,.7) 99%,rgba(255,68,0,.7));
  border-image: linear-gradient(90deg,rgba(255,213,0,.7) 0,rgba(255,68,0,.7) 99%,rgba(255,68,0,.7));
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-width: 1px;
}

/* Bugfix - user-inactive, smallest screen, dash header off screen */
.edge.playlist-active .navbar-page-btn .gicon,
.edge.user-activity-low .navbar-page-btn .gicon {
  display:inline-block;
}

/* Breadcrumbs */
.edge-breadcrumbs {
  padding: 0 0 20px 0;
  font-size: 14px;
  font-style: italic;
  color: #c3c3c3;
}
.edge-breadcrumbs a {
  padding: 10px 0 15px;
  color: #e3e3e3;
}
.edge-breadcrumbs span {
  margin: 10px;
}

/* Better looking input forms */
.edge .tabbed-view {
  padding: 30px 0;
  background-color: transparent;
}
.edge .edge-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}
.edge .edge-form h2 {
  float: left;
  font-style: italic;
  padding: .5rem 1rem 0 1rem;
}
.edge .edge-label-tip {
  display: block;
  float: right;
  margin: -15px -10px 0 0;
  padding: 18px 16px 4px 18px;
  opacity: 0.5;
}
.edge .edge-form-body {
  padding: 1rem;
}

/* Media Query Specific CSS */
@media (max-width: 543px) {
  .edge .hub-name { display: none; } 
  .edge .navbar { padding-left: 10px; }
}
@media (min-width: 544px) {
  .edge .hub-name { display: block; } 
  .edge .navbar { padding-left: 10px; }
}
@media (min-width: 768px) {
  .edge .hub-name { display: block; }
  .edge .navbar { padding-left: 10px; }
}

/* Page Fade-in Animation */
.edge.edge-show {
  opacity: 1;
  -webkit-animation: edge-page-fadein 750ms ease-in-out;
  -moz-animation: edge-page-fadein 750ms ease-in-out;
  -ms-animation: edge-page-fadein 750ms ease-in-out;
  -o-animation: edge-page-fadein 750ms ease-in-out;
  animation: edge-page-fadein 750ms ease-in-out; 
}
@-webkit-keyframes edge-page-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; } }
@-moz-keyframes edge-page-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; } }
@-ms-keyframes edge-page-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; } }
@-o-keyframes edge-page-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes edge-page-fadein {
  0% { opacity: 0; }
  100% { opacity: 1; } }


/* Always applied CSS - applied in edit and view modes */

/* Turn fixed height panels into dynamic height when viewed in mobile width */
/*
 * Disabling to see how it looks in android chrome
@media (max-width: 768px) {
  .panel,
  .panel-container,
  .panel-height-helper {
    min-height: max-content;
  }
  .panel-content {
    height: max-content !important;
  }
}
*/

/* Make a dynamic height panel */
/* Need to apply dynamic-height class to the containing .panel */
.edge .dynamic-height.panel,
.edge .dynamic-height .panel-container,
.edge .dynamic-height .panel-height-helper {
  min-height: auto;
  height: auto;
}
.edge .dynamic-height .panel-content {
  height: auto !important;
}
